<div id="bar">
  <h1>Bhuwan Adhikari</h1>
  <h3>Computer Engineer and a Techworm</h3>
</div>
<div id="myPic">

  <img src="../../assets/img/me.jpg" alt="">
  <a href="mailto:adhikaribhuwan97@gmail.com">Send Message</a>
</div>

<p>

  Hi!, I am <b>Bhuwan Adhikari</b> and I am studying Computer
  Engineering in beautiful city of Pokhara. <br><br><br>
  I have been learning and working in the field of web development
  for last couple of years. Lorem ipsum dolor sit amet, consectetur
  adipisicing elit. Cupiditate eum expedita molestiae necessitatibus nisi voluptas?
  A accusamus aliquam aliquid amet atque blanditiis <br> <br> corporis cum deserunt dicta doloribus,
  dolorum eaque earum est eveniet ex fugit incidunt ipsum iste libero nam nostrum nulla odit
  officiis placeat possimus quas qui quod repellat sed similique sit soluta suscipit ut vel velit
  voluptates voluptatum! A accusantium adipisci aliquid aut, autem consequuntur corporis cum
  doloremque eius esse exercitationem fugit hic <br> <br> illo ipsam iste iure maxime minima minus modi
  molestias nemo nisi obcaecati odit officia officiis optio porro quae quidem ratione rem repellendus
  rerum soluta tempora tempore ut vero voluptas. Aspernatur assumenda atque autem commodi dignissimos
  dolores dolorum eaque excepturi explicabo, fuga hic laboriosam minima modi necessitatibus nobis, non
  officia optio repellat repellendus saepe sint sit, temporibus velit! Ad aliquid asperiores consectetur
  culpa deleniti, dolorem doloremque dolores <br> <br> doloribus ducimus eius eligendi est impedit incidunt,
  ipsa maxime mollitia necessitatibus nemo neque porro provident quidem ratione soluta tenetur?
  Ad deleniti dignissimos eos eum exercitationem ipsa nobis praesentium, reprehenderit sunt voluptas.
  Asperiores deleniti, expedita ipsa libero neque non voluptates. Amet asperiores, at eius illo labore
  perferendis reprehenderit. Commodi deserunt ducimus et modi nemo nesciunt numquam quod repudiandae
  suscipit unde, veniam!
</p>

<h5>skills connect with portfolio</h5>
<h4>skills connect with portfolio</h4>
