<div class="tweetBox" id="recentTweets">
  <h3>My Recent Tweets</h3>
  <hr>
  <div class="tweet">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda cum delectus enim explicabo in iste nulla placeat vitae.
  </div>
</div>


<div class="tweetBox" id="topTweets">
  <h3>My Top Tweets</h3>
  <hr>
  <div class="tweet">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda cum delectus enim explicabo in iste nulla placeat vitae.
  </div>
</div>
