<!--Showcase div-->
<div id="showcase">
  <img id="showcaseImage" [src]= "showcaseImagePath" alt="Bhuwan Adhikari showcase">
  <div id="showcaseButton"><a routerLink="['/']">Click Here</a></div>
</div>


<!--Contact div-->
<div class="contact" id="primary">
  <div class="box">
    <h3 class="topic">Contact Me</h3>
    <hr>
    <i class="fa fa-phone" style="font-size:72px"></i>
    <address>
      Tribhuvan University <br>
      <b>Western Region Campus</b> <br>
      Lamachaur 16, Pokhara <br>
      Nepal <br>
      Email: <a href="mailto:adhikaribhuwan97@gmail.com">adhikaribhuwan97@gmail.com</a><br>
      Phone: +9779860541599<br>
    </address>
  </div>

</div>

<!--Social Network div-->
<div class="contact" id="secondary">
  <div class="box">
    <h3 class="topic">Lets Get Connected</h3>
    <hr>
    <a id="facebook"  href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a id="twitter" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a id="linkedin" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a id="github" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
    <a id="instagram" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>




<div id="blogsHome">

  <div id="blogsHomeBox">

    <h2>RECENT BLOGS</h2>
    <div id="b1" class="blogCard">
      <a [routerLink]=""><img src="../../assets/img/forblog.jpeg" [alt]=""></a>
      <h3>TOPIC LOADED FROM FIREBASE</h3>
      <P>
        Description will be loaded from the firebase.
        Description will be loaded from the firebase.
        Description will be loaded from the firebase.
      </P>
    </div>

    <div id="b2" class="blogCard">
      <a [routerLink]=""><img src="../../assets/img/forblog.jpeg" [alt]=""></a>
      <h3>TOPIC LOADED FROM FIREBASE</h3>
      <P>
        Description will be loaded from the firebase.
        Description will be loaded from the firebase.
        Description will be loaded from the firebase.
      </P>
    </div>

    <div id="b3" class="blogCard">
      <a [routerLink]=""><img src="../../assets/img/forblog.jpeg" [alt]=""></a>
      <h3>TOPIC LOADED FROM FIREBASE</h3>
      <P>
        Description will be loaded from the firebase.
        Description will be loaded from the firebase.
        Description will be loaded from the firebase.
      </P>
    </div>

  </div>

</div>



<!-------------Portfolio Section-------------->
<div id="portfolioHome">

</div>
